.container {
  padding: 2rem;
  width: 40%;
  border-radius: 1rem 1rem 5rem 1rem;
  background-color: white;
}

.arrowLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--purple);
  border-radius: 100%;
  padding: .7rem;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 880px) {
  .container {
      padding: 1.5rem;
  }

  .inputContainer {
      display: flex;
      justify-content: center;
      gap: .5rem;
  }
}

@media (max-width: 514px) {
  .container {
      padding: 1rem;
  }
  .btn {
    width: 1rem;
    height: 1rem;
  }
}
